@tailwind base;
@tailwind components;
@tailwind utilities;

.mirror-picture {
  transform: translate(-50%, 50%) rotateX(-180deg);
}
.mirror-border-picture {
  transform: translate(0%, 100%) rotateX(-180deg);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
  border: 2.5px solid white;
}

.info-aside::-webkit-scrollbar {
  width: 5;
  background-color: white;
}
.info-aside::-webkit-scrollbar-thumb {
  background-color: #fbc00f;
}

#menu-list::-webkit-scrollbar {
  width: 3.5px;
  background-color: rgba(0, 0, 0, 0.04);
}
#menu-list::-webkit-scrollbar-thumb {
  border: 0;
  background-color: black;
  border-radius: 10px;
}

.tab::-webkit-scrollbar {
  display: none;
}

.sidebar {
  height: calc(100vh - 70px);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
